.manage_cardlist {
}

.cardlist_card {
  height: 40px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  box-shadow: grey 1px 1px 1px;
  cursor: pointer;
}

.cardlist_card.active {
  height: auto;
}

.cardlist_card.active .cardlist_card__title {
  display: none;
}

.cardlist_card__title {
  font-size: 20px;
}

.cardlist_card__color {
}
